# These are the packages needed in the Jupyter Notebook for this work
# This 'requirements.txt' file is needed for the Binder implementation
#
numpy==1.14.5
git+git://github.com/sevamoo/SOMPY.git #sompy
pydivide
matplotlib
pandas
