# These are the packages needed in the Jupyter Notebook for this work
# This 'requirements.txt' file is needed for the Binder implementation
#
numpy==1.14.5
#git+git://github.com/sevamoo/SOMPY.git #sompy
sompy==1.1.1
pydivide=0.2.15
matplotlib
pandas
